In [21]:
#importing libraries

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.regularizers import l1, l2

In [ ]:
# Importing dataset

df=pd.read_csv('dataset/indian_houseprice_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Living Area  1047 non-null   float64
 1   Bathrooms    1047 non-null   float64
 2   Bedrooms     1047 non-null   int64
 3   Lot Size     1047 non-null   float64
 4   Age          1047 non-null   int64
 5   Fireplace    1047 non-null   int64
 6   Price        1047 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 57.4 KB

In [15]:
df.head()

   Living Area  Bathrooms  Bedrooms  Lot Size  Age  Fireplace    Price
0        1.982        1.0         3      2.00  133          0  14.2212
1        1.676        1.5         3      0.38   14          1  13.4865
2        1.694        2.0         3      0.96   15          1  11.8007
3        1.800        1.0         2      0.48   49          1  13.8297
4        2.088        1.0         3      1.84   29          1  12.9470

In [ ]:
# defining x and y
x=df.drop(columns=['Price'])
y=df[['Price']]

In [ ]:
# spliting the dataset
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
# normalize the dataset
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [6]:
X_train.shape[1]

6

In [31]:
model = Sequential([
    Dense(10, activation='relu',kernel_regularizer=l2,input_shape=(X_train.shape[1],)),
    Dense(1,kernel_regularizer=l2)
])

'''
l1 refers to L1 regularization (LASSO)
0.01 is the regularization strength (λ or alpha)
Penalty=0.01 × ∑∣w∣
'''

c:\Users\Yugesh\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

'\nl1 refers to L1 regularization (LASSO)\n0.01 is the regularization strength (λ or alpha)\nPenalty=0.01 × ∑∣w∣\n'

In [32]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [33]:
history = model.fit(X_train, y_train, epochs=5, batch_size=32, validation_split=0.2, verbose=0)

In [34]:
#to find loss and mean absolute error values

loss, mae = model.evaluate(X_test, y_test, verbose=0)
print(f"Test Loss: {loss:.4f}, Test MAE: {mae:.4f}")

Test Loss: 291.3997, Test MAE: 15.5390

with 100 epocs

without any regularization Test Loss: 17.5429, Test MAE: 2.8693

with l1 regularization Test Loss: 19.4696, Test MAE: 2.8134

with l2 regularization Test Loss: 17.2817, Test MAE: 2.8249

In [35]:
predictions = model.predict(X_test)
print("Sample Predictions:", predictions[:5].flatten())

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
Sample Predictions: [0.47481644 0.20017697 1.1671638  0.7373701  1.4887905 ]

In [45]:
print(float(predictions[:1]))

0.4748164415359497

C:\Users\Yugesh\AppData\Local\Temp\ipykernel_34644\887900832.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(float(predictions[:1]))

In [36]:
new_input = np.array([[1.982,1,3,2,133,0]])
new_input_scaled = ss.transform(new_input)
new_prediction = model.predict(new_input_scaled)
print("Prediction for new input:", new_prediction.flatten())

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
Prediction for new input: [-1.1786904]

In [37]:
weights, bias = model.layers[0].get_weights()
print("Weights:", weights)
print("Bias:", bias)

Weights: [[-0.4706899  -0.3583299  -0.23917583 -0.24098314 -0.25577483 -0.6610034
  -0.72238326  0.30751517 -0.49717516  0.5863151 ]
 [-0.45365024 -0.10517129 -0.4038494  -0.65768373  0.02907434  0.38699964
  -0.10811856  0.0931272   0.34528166  0.22041792]
 [-0.6785094   0.3240918   0.05852529  0.31941625  0.1776153  -0.41853082
  -0.4790358  -0.28646612 -0.0356114   0.55210435]
 [-0.6063629   0.46440226 -0.21172868 -0.5283427  -0.34132355 -0.32421327
  -0.01081792 -0.24674268 -0.03363167 -0.63547814]
 [-0.29876995  0.33001757  0.5013905   0.1864065   0.29001087  0.22732897
  -0.09795567 -0.02025105  0.34698033 -0.11514458]
 [ 0.2709629   0.32689875 -0.27083355 -0.2524335   0.19295183 -0.00689339
  -0.21294016 -0.1723852  -0.5098195  -0.53677094]]
Bias: [ 0.10848654 -0.09424859 -0.09651428  0.10837528 -0.09493668  0.10798381
  0.11311669 -0.09245329 -0.09650187  0.10712973]

In [38]:
for layer in model.layers:
    weights, bias = layer.get_weights()
    print("Weights:\n", weights)
    print("Bias:\n", bias)

Weights:
 [[-0.4706899  -0.3583299  -0.23917583 -0.24098314 -0.25577483 -0.6610034
  -0.72238326  0.30751517 -0.49717516  0.5863151 ]
 [-0.45365024 -0.10517129 -0.4038494  -0.65768373  0.02907434  0.38699964
  -0.10811856  0.0931272   0.34528166  0.22041792]
 [-0.6785094   0.3240918   0.05852529  0.31941625  0.1776153  -0.41853082
  -0.4790358  -0.28646612 -0.0356114   0.55210435]
 [-0.6063629   0.46440226 -0.21172868 -0.5283427  -0.34132355 -0.32421327
  -0.01081792 -0.24674268 -0.03363167 -0.63547814]
 [-0.29876995  0.33001757  0.5013905   0.1864065   0.29001087  0.22732897
  -0.09795567 -0.02025105  0.34698033 -0.11514458]
 [ 0.2709629   0.32689875 -0.27083355 -0.2524335   0.19295183 -0.00689339
  -0.21294016 -0.1723852  -0.5098195  -0.53677094]]
Bias:
 [ 0.10848654 -0.09424859 -0.09651428  0.10837528 -0.09493668  0.10798381
  0.11311669 -0.09245329 -0.09650187  0.10712973]
Weights:
 [[ 0.4036491 ]
 [-0.29085642]
 [-0.47209293]
 [ 0.42192397]
 [-0.45649177]
 [ 0.49001148]
 [ 0.24578577]
 [-0.25863042]
 [-0.44475815]
 [ 0.6449368 ]]
Bias:
 [0.10381167]